
body{
font-family: sans-serif;  

}
.calc-wrapper
{
  
  width: 360px;
  height: 400px;
  margin-top: 2%;
  border: 3px solid black;
}

.smth{

border: 1px solid rgb(184, 175, 175);
height: 60px;
width: 70px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
}





.buttons{
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);  
gap: 10px;  /* always add to the parent not children */
align-items: center;
margin-top: 10px;
margin-left: 1px;


}

.inpuet{
display: flex;
justify-content: center;
align-items: center;
height: 60px;
width: 330px;


}

.inpuet >input{
  

height: 50px;
width: 300px; 
margin-left: 30px;
border: 1px solid rgb(216, 206, 206);
}

  .equal{
  background-color: orange;  
  }


  .pal{
    display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .pal img{
  height: 500px;
  width: 500px;
  border: 5px solid;
  border-radius: 25px;
  border-color: rgb(221, 255, 0);  
  margin-top: 300px;
  cursor: pointer;
 

  }

  .ah{
    color: green;
display: flex;
align-items: center;
margin-top: 304px;
  }

.vs{
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 70px;
}